@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");
// Fonts
$font-primary: "Red Hat Text", sans-serif;

// Colours
$clr-primary: hsl(237, 18%, 59%);
$clr-primary-soft: hsl(345, 95%, 68%);
$clr-white: hsl(0, 0%, 100%);
$clr-neutral: hsl(236, 21%, 26%);
$clr-neutral-dark: hsl(235, 16%, 14%);
$clr-neutral-very-dark: hsl(234, 17%, 12%);

$clr-bg-darker: #1a1823;
$clr-bg-dark: #211a29;
$clr-bg: #2f2439;
