@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");
:root {
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Red Hat Text", sans-serif;
  background-color: #211a29;
  background-image: url(../images/bg-stars.svg);
}

h1,
h2 {
  text-transform: uppercase;
}

.days,
.hours,
.minutes,
.seconds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  width: 80px;
}

.days-box,
.seconds-box,
.minutes-box,
.hours-box,
.time-top {
  position: relative;
  background: #343650;
  height: 40%;
  width: 80%;
  border-radius: 3px;
}

.days-box,
.seconds-box,
.minutes-box,
.hours-box {
  position: relative;
  -webkit-box-shadow: 0 0.3rem 0 0 rgba(0, 0, 0, 0.25), inset 0 0.1rem 0 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.3rem 0 0 rgba(0, 0, 0, 0.25), inset 0 0.1rem 0 0 rgba(0, 0, 0, 0.1);
}

.days-box p,
.seconds-box p,
.minutes-box p,
.hours-box p {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2.6rem;
  color: #fb6087;
  opacity: 0.7;
}

.days-box::before, .days-box::after,
.seconds-box::before,
.seconds-box::after,
.minutes-box::before,
.minutes-box::after,
.hours-box::before,
.hours-box::after {
  content: "";
  position: absolute;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background: #211a29;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.days-box::after,
.seconds-box::after,
.minutes-box::after,
.hours-box::after {
  left: 100%;
}

.time-top {
  -webkit-box-shadow: inset 0 -20rem 0 0 rgba(0, 0, 0, 0.2), inset 0 -0.1rem 0 0 rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 -20rem 0 0 rgba(0, 0, 0, 0.2), inset 0 -0.1rem 0 0 rgba(0, 0, 0, 0.1);
}

.container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.title,
.countdown,
.footer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 5%;
  margin: 0 auto;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  font-size: 1.25rem;
  letter-spacing: 0.5rem;
  text-align: center;
}

.countdown {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.countdown h2 {
  color: #8486a9;
  font-size: 0.5rem;
  letter-spacing: 0.25rem;
  padding-left: 5%;
  margin-top: 0.75rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25vh;
  width: 100%;
  padding: 20%;
  background-image: url(../images/pattern-hills.svg);
  background-size: cover;
  background-position: 82%;
}

footer .footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 15vh;
  width: 100%;
}

footer svg {
  fill: #8486a9;
  -webkit-transition: 500ms;
  transition: 500ms;
}

footer svg:hover,
footer svg:focus {
  cursor: pointer;
  fill: #fb6087;
}

@media (min-width: 600px) {
  .days,
  .hours,
  .minutes,
  .seconds {
    height: 200px;
    width: 200px;
  }
  .days-box,
  .seconds-box,
  .minutes-box,
  .hours-box,
  .time-top {
    border-radius: 10px;
  }
  .days-box,
  .seconds-box,
  .minutes-box,
  .hours-box {
    -webkit-box-shadow: 0 0.6rem 0 0 rgba(0, 0, 0, 0.25), inset 0 0.1rem 0 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.6rem 0 0 rgba(0, 0, 0, 0.25), inset 0 0.1rem 0 0 rgba(0, 0, 0, 0.1);
  }
  .days-box p,
  .seconds-box p,
  .minutes-box p,
  .hours-box p {
    font-size: 6rem;
    opacity: 0.7;
  }
  .days-box::before, .days-box::after,
  .seconds-box::before,
  .seconds-box::after,
  .minutes-box::before,
  .minutes-box::after,
  .hours-box::before,
  .hours-box::after {
    height: 1rem;
    width: 1rem;
  }
  .time-top {
    -webkit-box-shadow: inset 0 -20rem 0 0 rgba(0, 0, 0, 0.2), inset 0 -0.1rem 0 0 rgba(0, 0, 0, 0.1);
            box-shadow: inset 0 -20rem 0 0 rgba(0, 0, 0, 0.2), inset 0 -0.1rem 0 0 rgba(0, 0, 0, 0.1);
  }
  .title {
    height: 25vh;
  }
  .title h1 {
    -ms-flex-item-align: end;
        align-self: flex-end;
    font-size: 2rem;
  }
  .countdown {
    height: 50vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .countdown h2 {
    font-size: 1rem;
    margin-top: 1.5rem;
  }
  footer {
    padding: 0%;
  }
  footer .footer-icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer-icons svg {
    margin: 0 1rem;
  }
}
/*# sourceMappingURL=styles.css.map */